# Video Game Sale 
# Will -- December 6th 2020

In [13]:
import pandas as pd

In [14]:
# data form https://www.kaggle.com/gregorut/videogamesales
vgsales_file = pd.read_csv('vgsales.csv')

In [15]:
vgsales_file.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

### Which company is the most common video game publisher?

In [22]:
vgsales_file["Publisher"].mode()

0    Electronic Arts
dtype: object

### Whatâ€™s the most common platform?

In [27]:
vgsales_file["Platform"].mode()

0    DS
dtype: object

### What about the most common genre?

In [29]:
vgsales_file["Genre"].mode()

0    Action
dtype: object

### What are the top 20 highest grossing games?

In [34]:
vgsales_file[['Name', 'Global_Sales']].sort_values('Global_Sales', ascending= False).head(20)

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

### For North American video game sales, whatâ€™s the median?

In [36]:
vgsales_file[['NA_Sales']].median()

NA_Sales    0.08
dtype: float64

In [46]:
vgsales_file[(len(vgsales_file[vgsales_file['NA_Sales'] == 0.08])// 2) - 5:(len(vgsales_file[vgsales_file['NA_Sales'] == 0.08])// 2) + 5]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
224,225,The Simpsons: Hit & Run,PS2,2003.0,Racing,Vivendi Games,1.73,2.19,0.00,0.79,4.70
225,226,Tony Hawk's Pro Skater 2,PS,2000.0,Sports,Activision,3.05,1.41,0.02,0.20,4.68
226,227,Animal Crossing: City Folk,Wii,2008.0,Simulation,Nintendo,1.87,1.12,1.32,0.37,4.68
227,228,The Lord of the Rings: The Two Towers,PS2,2002.0,Action,Electronic Arts,1.94,1.95,0.08,0.70,4.67
228,229,Forza Motorsport 4,X360,2011.0,Racing,Microsoft Game Studios,2.08,2.04,0.06,0.47,4.64
229,230,Tomb Raider,PS,1996.0,Action,Eidos Interactive,2.29,1.97,0.13,0.24,4.63
230,231,Guitar Hero III: Legends of Rock,Wii,2007.0,Misc,Activision,3.06,1.12,0.00,0.44,4.62
231,232,The Legend of Zelda: A Link to the Past,SNES,1991.0,Action,Nintendo,2.42,0.91,1.15,0.13,4.61
232,233,The Legend of Zelda: The Wind Waker,GC,2002.0,Action,Nintendo,2.60,0.99,0.89,0.13,4.60
233,234,Mario & Sonic at the Olympic Winter Games,Wii,2009.0,Sports,Sega,1.89,1.99,0.22,0.48,4.58

In [47]:
### For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [48]:
(vgsales_file.iloc[0].NA_Sales - vgsales_file['NA_Sales'].mean()) / vgsales_file['NA_Sales'].std()

50.47898767478096

In [49]:
###  Find the average number of Wii game sales compared to other platforms